* {
    font-family: 'Avenir.otf', sans-serif;
    user-select: none;
}
#tools {
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 2px solid black;
    display: inline-block;
    width: 100%;
    height: 5%;
}
.color {
    position: relative;
    top: 10%;
    padding: 0.2% white;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
button {
    border: 2px solid black;
    border-radius: 5px;
}
#download {
    font-size: x-large;
}
#undo {
    font-size: large;
}
#clear {
    font-size: large;
}
#rgb-input-text {
    font-size: larger;
}
#eraser {
    top: 10%;
}
.tool {
    position: relative;
    top: -10%;
    display: inline-block;
}
canvas {
    display: block;

    position: absolute;
    left: 0%;
    top: 5%;
}

@media (max-width: 900px) {
    #tools {
        height: 10%;
    }
    canvas {
        top: 10%;
    }
    #eraser {
        top: 0%;
    }
    .color {
        width: 25px;
        height: 25px;
    }
}
